@font-face {
    font-family: "inter";
    src: url("fonts/Inter-Medium.woff") format('woff');
    font-weight: 500;
    font-display: swap;
    font-style:  normal;
}

@font-face {
    font-family: "inter";
    src: url("fonts/Inter-SemiBold.woff") format('woff');
    font-weight: 600;
    font-display: swap;
    font-style:  normal;
}

@font-face {
    font-family: "Noto Serif";
    src: url("fonts/NotoSerif-Regular.woff") format('woff');
    font-weight: 400;
    font-display: swap;
    font-style:  normal;
}